$TTL    1D
@       IN      SOA     prdx-nsm101.ziyotek1.local. root.prdx-nsm101.ziyotek1.local. (
                        05092020      ; Serial
                        1D              ; Refresh
                        1H              ; Retry
                        1W              ; Expire
                        3H )            ; minimum

; name servers NS records
            IN      NS      prdx-nsm101.ziyotek1.local.
            IN      NS      prdx-nsw101.ziyotek1.local.
            IN      NS      prdx-nsw102.ziyotek1.local.

; name servers A records
prdx-nsm101  IN      A       192.168.32.13
prdx-nsw101  IN      A       192.168.32.14
prdx-nsw102  IN      A       192.168.32.15
; servers
prdx-ntp101     IN      A   192.168.32.11
prdx-ntp102     IN      A   192.168.32.12
prdx-pxe101     IN      A   192.168.32.16
prdx-ftp101     IN      A   192.168.32.17
prdx-nfs101     IN      A   192.168.32.18
prdx-samba101   IN      A   192.168.32.19
prdx-mail101    IN      A   192.168.32.20
prdx-db161      IN      A   192.168.32.21
prdx-db171      IN      A   192.168.32.22
prdx-web161     IN      A   192.168.32.23
prdx-web171     IN      A   192.168.32.24
prdx-web162     IN      A   192.168.32.25
prdx-web172     IN      A   192.168.32.26
prdx-web163     IN      A   192.168.32.27
prdx-web173     IN      A   192.168.32.28
prdx-lb161      IN      A   192.168.32.29
prdx-lb171      IN      A   192.168.32.30
prdx-nagios101  IN      A   192.168.32.31
prdx-ldap101    IN      A   192.168.32.32
prdx-dockm101   IN      A   192.168.32.38
prdx-dockw101   IN      A   192.168.32.39
prdx-dockw201   IN      A   192.168.32.40
prdx-jenkins101 IN      A   192.168.32.41
prdx-kubem101   IN      A   192.168.32.42
prdx-kubew101   IN      A   192.168.32.43
prdx-kubew201   IN      A   192.168.32.44
prdx-ansible101 IN      A   192.168.32.33






















